$white: #fff;
$black: #000;
$green: #00D148;
$blue: #0085FF;
$gray: #3A3E4E;
$dark-gray: #363A49;

$main-title-color: $blue;
$secondary-title-color: #2F2F2F;
$small-title-color1: $blue;
$small-title-color2: #575757;

$text-color1: #304551;
$text-color2: #525252;

$link-color1: #193D50;
$link-color2: #E0E0E0;

$tip-color: #878787;