$fonts: ();

$fonts-sizes: (
        'p-sm': 14px,
        'p': 16px,
        'h1': 42px,
        'h2': 28px,
        'h3': 26px,
        'h4': 20px,
        'h5': 18px,
        'h6': 16px,
);


$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;


