$fonts: ();

$fonts-sizes: (
        'p-sm': 16,
        'p': 20,
        'h1': 30,
        'h2': 26,
        'h3': 22,
        'h4': 20,
        'h5': 18,
        'h6': 16,
);


$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;